- content_for :header_tags do
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)
  = javascript_pack_tag 'application', integrity: true, crossorigin: 'anonymous'

- content_for :page_title do
  = t('admin.scheduled_statuses.title')

- content_for :content do
  .admin-wrapper
    .sidebar-wrapper
      .sidebar
        = link_to root_path do
          = image_tag asset_pack_path('logo.svg'), class: 'logo'

        = render_navigation
    .content-wrapper
      .content.scheduled_statuses__container
        %h2= yield :page_title

        = render 'application/flashes'

        #mastodon{ data: { props: Oj.dump(default_props) } }
