= simple_form_for [:admin, playlist] do |f|
  = render 'shared/error_messages', object: f.object

  = f.input :deck, placeholder: 'チャンネル番号'
  = f.input :name, placeholder: 'チャンネル名'
  = f.input :deck_type, collection: Playlist.deck_types.keys.to_a, include_blank: false, wrapper: :with_label, label: 'タイプ'
  = f.input :write_protect, as: :boolean, wrapper: :with_label, label: '書き込み禁止'

  .actions
    = f.button :button, (f.object.new_record? ? '作成' : '保存'), type: :submit
