- content_for :page_title do
  = t('admin.playlists.title')

= form_tag(admin_playlist_setting_path, method: :put, class: 'simple_form', style: 'max-width: 100%') do
  %table.table
    %thead
      %tr
        %th{ width: '80%' } 全体設定
        %th
    %tbody
      %tr
        %td
          %strong= 'プレイリストに追加できる曲の上限'
        %td= text_field_tag :max_queue_size, @settings['max_queue_size'], type: :number
      %tr
        %td
          %strong= 'ユーザーが1時間あたりに曲を追加できる上限'
        %td= text_field_tag :max_add_count, @settings['max_add_count'], type: :number
      %tr
        %td
          %strong= 'ユーザーが1時間あたりに曲をスキップできる上限'
        %td= text_field_tag :max_skip_count, @settings['max_skip_count'], type: :number
      %tr
        %td
          %strong= 'スキップができるようになるまでの秒数'
        %td= text_field_tag :skip_limit_time, @settings['skip_limit_time'], type: :number
  .simple_form.actions
    = button_tag t('generic.save_changes'), type: :submit, class: :btn

%hr/

%table.table
  %thead
    %tr
      %th 番号
      %th 名前
      %th タイプ
      %th 書き込み禁止
      %th
  %tbody
    - @playlists.each do |playlist|
      %tr
        %td= playlist.deck
        %td= playlist.name
        %td= playlist.deck_type
        %td= playlist.write_protect ? '有効' : '無効'
        %td
          = link_to edit_admin_playlist_path(playlist), class: 'table-action-link' do
            %i.fa.fa-pencil-square-o
            編集する
        %td
          = link_to admin_playlist_path(playlist), method: :delete, class: 'table-action-link', data: { confirm: '削除してよろしいですか？' } do
            %i.fa.fa-trash
            削除する
= link_to '追加', new_admin_playlist_path, class: 'button'
