- content_for :page_title do
  = t('auth.login')

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .omniauth
    - if %w(iPhone Safari).all? { |keyword| request.user_agent.include? keyword }
      - query = { return_to: user_pixiv_omniauth_authorize_url }.to_query
      - link = "#{ENV['ACCOUNT_PIXIV_LOGIN_URL']}?#{query}"
      = link_to t('simple_form.labels.omniauth_pixiv.signin'), link, class: 'block-button'
    - else
      .block-button.omniauth-pixiv
        = t('simple_form.labels.omniauth_pixiv.signin')

  .separate= t('simple_form.labels.omniauth.or')

  = f.input :email, autofocus: true, placeholder: t('simple_form.labels.defaults.email'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }
  = f.input :password, placeholder: t('simple_form.labels.defaults.password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.password') }

  .actions
    = f.button :button, t('auth.login'), type: :submit

.form-footer= render "auth/shared/links"
