= simple_form_for [:admin, suggestion_tag] do |f|
  = render 'shared/error_messages', object: f.object

  = f.input :suggestion_type, collection: SuggestionTag.suggestion_types.keys.to_a, include_blank: false, wrapper: :with_label, label: 'タイプ'

  - if f.object.new_record?
    = f.fields_for :tag do |ff|
      = ff.input :name, placeholder: 'タグ名'
    %p.hint 先頭シャープは付けないで下さい。

  = f.input :description, placeholder: '説明文'
  %p.hint タグの下に出る説明文です

  = f.input :order, placeholder: '表示順'
  %p.hint 数が小さい順に表示されます

  .actions
    = f.button :button, (f.object.new_record? ? '作成' : '保存'), type: :submit
