- content_for :page_title do
  - if @statuses.current_page > 1
    = "page #{@statuses.current_page} - ##{@tag.name}"
  - else
    = "##{@tag.name}"

= link_to root_path, class: 'service-logo' do
  = image_tag asset_pack_path('service_logo.png')

- if show_landing_strip?
  = render partial: 'shared/landing_strip_tag', locals: { tag: @tag }

.compact-header
  %h1= "##{@tag.name}"

- if @statuses.empty?
  .accounts-grid
    = render partial: 'accounts/nothing_here'
- else
  .activity-stream.h-feed
    = render partial: 'stream_entries/status', collection: @statuses_collection, as: :status

  .pagination
    = link_to_next_page @statuses, safe_join([t('pagination.next'), fa_icon('chevron-right')], ' '), class: 'next'
    = link_to_prev_page @statuses, safe_join([fa_icon('chevron-left'), t('pagination.prev')], ' '), class: 'prev'
