- content_for :header_tags do
  = javascript_pack_tag 'admin', integrity: true, async: true, crossorigin: 'anonymous'

- content_for :page_title do
  = display_name(@account)

= link_to t('admin.accounts.back'), admin_account_path(@account.id),  class: 'button'

- if @statuses.empty?
  .accounts-grid
    = render 'accounts/nothing_here'
- else
  - @statuses.each do |status|
    .account-status{ data: { id: status.id } }
      .activity-stream.activity-stream-headless
        .entry= render 'stream_entries/simple_status', status: status, expand_media: false
      .account-status__actions
        - unless status.media_attachments.empty?
          = link_to target_path(@account.id, status, status: { sensitive: !status.sensitive }), method: :patch, class: 'icon-button nsfw-button', title: t("admin.reports.nsfw.#{!status.sensitive}") do
            = fa_icon status.sensitive? ? 'eye' : 'eye-slash'
        = link_to target_path(@account.id, status), method: :delete, class: 'icon-button trash-button', title: t('admin.reports.delete'), data: { confirm: t('admin.reports.are_you_sure') }, remote: true do
          = fa_icon 'trash'

= paginate @statuses
