%h3= t('about.contact')
%p
  = t('about.contact_body_mastodon').html_safe
  = ' → '
  = link_to '@pawoo_support', account_path('pawoo_support')
  %br
  = t('about.contact_body_twitter').html_safe
  = ' → '
  = link_to '@pixiv', 'https://twitter.com/pixiv'
