%h3= t('about.contact')
%p
  = t('about.contact_body_mastodon').html_safe
  = ' → '
  = link_to '@pixiv', '/@pixiv'
  %br
  = t('about.contact_body_twitter').html_safe
  = ' → '
  = link_to '@pixiv', 'https://twitter.com/pixiv'
