- content_for :header_tags do
  = javascript_include_tag 'application_public', integrity: true

- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %meta{ property: 'og:site_name', content: site_title }/
  %meta{ property: 'og:type', content: 'website' }/
  %meta{ property: 'og:title', content: Rails.configuration.x.local_domain }/
  %meta{ property: 'og:description', content: strip_tags(@instance_presenter.site_description.blank? ? t('about.about_mastodon') : @instance_presenter.site_description) }/
  %meta{ property: 'og:image', content: asset_url('mastodon_small.png') }/
  %meta{ property: 'og:image:width', content: '400' }/
  %meta{ property: 'og:image:height', content: '400' }/
  %meta{ property: 'twitter:card', content: 'summary' }/
  %meta{ property: 'twitter:image', content: asset_url('mastodon_small.png') }/

.wrapper
  = render 'header'

  .screenshot-with-signup
    .mascot= image_tag 'fluffy-elephant-friend.png'

    - if @instance_presenter.open_registrations
      = render 'registration'
    - else
      .closed-registrations-message
        - if @instance_presenter.closed_registrations_message.blank?
          %p= t('about.closed_registrations')
        - else
          = @instance_presenter.closed_registrations_message.html_safe
        .info
          = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn'
          ·
          = link_to t('about.other_instances'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/List-of-Mastodon-instances.md'
          ·
          = link_to t('about.about_this'), about_more_path

  %h3 Mastodon（マストドン）とは
  %video{autoplay: '', loop: '',  src: asset_path('about/demo.mp4'),  poster: asset_path('about/demo.jpg'),  style: 'width:100%;'}

  %p
    Mastodonは自由でオープンソースな分散型のSNSです。ユーザーは運営元やインスタンス（サーバー）を自由に選択して参加することができます。
    同じインスタンス内での濃いコミュニケーションを楽しめたり、外部のインスタンスのユーザーをフォローできるなど、今までのSNSとは違う特色を持っています。
    また、インスタンスは誰でも立ち上げることができるので、独自のMastodonを運用することも可能です。

  %h3= t('about.features_headline')

  .features-list
    .features-list__column
      %ul.fa-ul
        %li
          = fa_icon('li check-square')
          = t 'about.features.chronology'
        %li
          = fa_icon('li check-square')
          = t 'about.features.public'
        %li
          = fa_icon('li check-square')
          = t 'about.features.characters'
        %li
          = fa_icon('li check-square')
          = t 'about.features.gifv'
    .features-list__column
      %ul.fa-ul
        %li
          = fa_icon('li check-square')
          = t 'about.features.privacy'
        %li
          = fa_icon('li check-square')
          = t 'about.features.blocks'
        %li
          = fa_icon('li check-square')
          = t 'about.features.ethics'
        %li
          = fa_icon('li check-square')
          = t 'about.features.api'

  %p まずはローカルタイムラインを眺めて、気になるユーザーをフォローしてみましょう！

  = render 'notice'
  = render 'contact'

  - unless @instance_presenter.site_description.blank?
    %h3= t('about.description_headline', domain: site_hostname)
    %p= @instance_presenter.site_description.html_safe

  .actions
    .info
      = link_to t('about.terms'), terms_path
      ·
      = link_to t('about.apps'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/Apps.md'
      ·
      = link_to t('about.source_code'), 'https://github.com/pixiv/mastodon/tree/pawoo'
      ·
      = link_to t('about.other_instances'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/List-of-Mastodon-instances.md'

    = link_to image_tag('logo_pixiv.png', width: 50, style: 'display:block;margin:40px auto 0;opacity:0.36'), 'https://www.pixiv.net'

:javascript
  userAgent = window.navigator.userAgent.toLowerCase();
  // MSIE(IE11のみUAにMSIEを含まないのでTridentで検出)
  isMSIE = /MSIE/i.test(userAgent) || /Trident/i.test(userAgent)
  if(isMSIE) {
    alert('お使いのブラウザはサポートされていません。Microsoft Edge、Google Chromeなどをお試しください。');
  }
