- content_for :page_title do
  Mastodon (マストドン) hosted by pixiv

- content_for :header_tags do
  :ruby
    initial_state = {
      meta: {
        streaming_api_base_url: Rails.configuration.x.streaming_api_base_url,
        access_token: '',
        locale: I18n.locale,
        domain: site_hostname,
        auto_play_gif: false,
        appmode: 'about'
      },
      compose: {},
      accounts: {},
      media_attachments: {
        accept_content_types: MediaAttachment::IMAGE_MIME_TYPES + MediaAttachment::VIDEO_MIME_TYPES
      },
      settings: {
        onboarded: true # related: app/javascript/mastodon/actions/onboarding.js
      }
    }

  %script#initial-state{ type: 'application/json' }!= json_escape(initial_state.to_json)
  = javascript_pack_tag 'application', integrity: true, crossorigin: 'anonymous'
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :header_tags do
  %meta{ property: 'og:site_name', content: site_title }/
  %meta{ property: 'og:url', content: about_url }/
  %meta{ property: 'og:type', content: 'website' }/
  %meta{ property: 'og:title', content: Rails.configuration.x.local_domain }/
  %meta{ property: 'og:description', content: strip_tags(@instance_presenter.site_description.blank? ? t('about.about_mastodon') : @instance_presenter.site_description) }/
  %meta{ property: 'og:image', content: asset_pack_path('pawoo_music_small.png') }/
  %meta{ property: 'og:image:width', content: '400' }/
  %meta{ property: 'og:image:height', content: '400' }/
  %meta{ property: 'twitter:card', content: 'summary' }/
  %meta{ property: 'twitter:image', content: asset_pack_path('pawoo_music_small.png') }/

.about-cols
  .about-col.left
    = image_tag asset_pack_path('service_logo.png'), width: 150, style: 'display:block;margin:0 auto 40px'

    .simple_form
      = render 'registration'

  .about-col.main
    .about-col-head
      = image_tag asset_pack_path('about/header.png'), width: 535

    .about-col-body.first
      %p.main ＼ #{number_with_delimiter @instance_presenter.user_count}人が、#{number_with_delimiter @instance_presenter.status_count}回パウってます／

      .simple_form.show_on_wide_display.signup
        = link_to new_user_registration_path do
          %button.including-brand Pawoo Musicをはじめる

      .simple_form.hide_on_wide_display
        = render 'registration'

      .separate
        %span アプリもあります

      .about-col-body-apps
        .about-col-body-app
          = link_to 'https://itunes.apple.com/us/app/pawoo/id1229070679' do
            = image_tag asset_pack_path('about/badge-appstore.png'), width: 190

        .about-col-body-app
          = link_to 'https://play.google.com/store/apps/details?id=jp.pxv.pawoo' do
            = image_tag asset_pack_path('about/badge-googleplay.png'), width: 190


    .actions
      .info
        %p.main
          = link_to t('about.about_this'), about_more_path, style: 'color:white; text-decoration: none'
        = link_to t('about.terms'), terms_path
        ·
        = link_to t('about.apps'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/Apps.md'
        ·
        = link_to t('about.source_code'), 'https://github.com/pixiv/mastodon/tree/pawoo'
        ·
        = link_to t('about.other_instances'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/List-of-Mastodon-instances.md'

      = link_to image_tag(asset_pack_path('logo_pixiv.png'), width: 50, style: 'display:block;margin:40px auto'), 'https://www.pixiv.net'

  .about-col.right
    .about-timeline-container
      #mastodon{ data: { props: Oj.dump(default_props) } }
