- content_for :page_title do
  = "#{display_name(@account)} - #{@account.acct}"

- content_for :header_tags do
  %link{ rel: 'salmon', href: api_salmon_url(@account.id) }/
  %link{ rel: 'alternate', type: 'application/atom+xml', href: account_url(@account, format: 'atom') }/

  %meta{ property: 'og:type', content: 'profile' }/
  = render 'og', account: @account, url: short_account_url(@account, only_path: false)

= render 'accounts/service_logo'

- if show_landing_strip?
  = render partial: 'shared/landing_strip', locals: { account: @account }

.h-feed
  %data.p-name{ value: "#{@account.username} on #{site_hostname}" }/

  = render 'header', account: @account

  - if @statuses.empty?
    .accounts-grid
      = render 'nothing_here'
  - else
    .activity-stream
      = render partial: 'stream_entries/status', collection: @statuses_collection, as: :status

  .pagination
    = link_to_next_page @statuses, safe_join([t('pagination.next'), fa_icon('chevron-right')], ' '), class: 'next'
    = link_to_prev_page @statuses, safe_join([fa_icon('chevron-left'), t('pagination.prev')], ' '), class: 'prev'
